<a href="https://colab.research.google.com/github/Priy-anshi/curriculum-python/blob/main/Day1Tutorial1_basic_python_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## python semantic error

In [ ]:
print("Hello World")

Hello World

In [ ]:
Print("Hello World")

NameError: ignored

In [ ]:
print("hello world aizan is here")

hello world aizan is here

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
age=24

if age <= 18:
  print("hello child")
  print("wswhgwh")
  print("hgh")

elif age>19 and age <=45:
  print("hello adult")
  print("ddfdfsds")

elif age>19 and age<86:
    print("hello pp")

else:
  print("hello old person")

hello old person

In [ ]:
# here 'a' is a variable /Identifier
a = 5
b = 5

In [ ]:
Var=10
var=5

In [ ]:
print("Var=fhghghsxf ",Var)

Var=fhghghsxfhsvgsv 10

In [ ]:
print("a = ",a, "& b = ",b)

a =  5 & b =  5

In [ ]:
sum= a+b

In [ ]:
print("a =",a, "b =",b, "sum= ",sum)

a = 5 b = 5 sum=  10

In [1]:
for (i=1;i<=10;i++)
{
csc
 svs
 vsav
}
i=i+2

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-1-8e66d622fa2e>, line 1)

In [ ]:
for i in range(1,11,2):
  print(i)

print("inside loop")

1
inside loop
3
inside loop
5
inside loop
7
inside loop
9
inside loop

In [ ]:
a = 5+\
3+\
2+\
4+\
50+40+85+90

a

279

## multi line code

In [ ]:
# single line comment

In [ ]:
# print("aizan")

In [ ]:
# multi
# line
# comment
# example

In [ ]:
print(a)

279

In [ ]:
a = """
this is multiple line comment
hello
world
"""

a

'\nthis is multiple line comment\nhello\nworld\n'

In [ ]:
a = 5
print(a, "is of type", type(a))

5 is of type <class 'int'>

In [ ]:
a = 2.0
print(a, "is of type", type(a))

2.0 is of type <class 'float'>

In [ ]:
a = 1+2j
print(a, "is complex number?", isinstance(1+2j,complex))
print(a, "is of type", type(a))

(1+2j) is complex number? True
(1+2j) is of type <class 'complex'>

In [ ]:
print(a, "is complex number?", isinstance(1+2.0,complex))

(1+2j) is complex number? False

## type conversion

In [ ]:
num_int = 123 #int
num_flo = 1.23 #float
num_new = num_int + num_flo
print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))
print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

In [ ]:
num_int = 123
num_flo = 123
num_new = num_int + num_flo
print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))
print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'int'>
Value of num_new: 246
datatype of num_new: <class 'int'>

In [ ]:
num_int = "Aizan" #string
num_str = "Zafar" #string

print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

print(num_str +" "+ num_int)
print(num_int + num_str)

Data type of num_int: <class 'str'>
Data type of num_str: <class 'str'>
Zafar Aizan
AizanZafar

In [ ]:
a = 5
print(type(a))
a = float(a)
print(type(a))
print(a)

<class 'int'>
<class 'float'>
5.0

In [ ]:
a = 5.9999
print(type(a))
a = int(a)
print("the value od a: ",a)
print(type(a))

<class 'float'>
the value od a:  5
<class 'int'>

In [ ]:
a = "123" #string
print(type(a))
a = int(a) #int
print("the value od a: ",a)
print(type(a))

<class 'str'>
the value od a:  123
<class 'int'>

In [ ]:
num_int = 123 # int
num_flo = "123.23" # string
num_flo = float(num_flo) # float

# 12 + 1.12 = 13.12

num_new = num_int + num_flo # int + float = float
print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))
print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 246.23000000000002
datatype of num_new: <class 'float'>

In [ ]:
a = 123 #int
print(type(a))
a = str(a) #string
print("the value od a: ",a)
print(type(a))

<class 'int'>
the value od a:  123
<class 'str'>

In [ ]:
a = "A12" #str
print(a)
print(type(a))

a = int(a) #string
#print("the value od a: ",a)
print(type(a))

A12
<class 'str'>

ValueError: ignored

In [ ]:
type(str(4.5))

str

In [ ]:
int(True)

1

In [ ]:
int(False)

0

In [2]:
bool(1)

True

In [ ]:
bool(0)

False

In [ ]:
a='123ac'
int(a)
print(type (a))

ValueError: ignored

## mathmatical operation

In [ ]:
25/1.7

14.705882352941178

In [ ]:
a = 25
b = 4
print(a, "divided by ",b,"= ",a/b)
type(a/b)

25 divided by  4 =  6.25

float

In [ ]:
25%2

1

In [ ]:
a = 25
b = 4
print(a, "divided by ",b,"= ",a//b)

25 divided by  4 =  6

In [ ]:
2*60+30

150

In [ ]:
30+2*60

150

In [ ]:
(30+2)*60

1920

In [ ]:
30+2*60/6

50.0

In [ ]:
number = 10
print(number)
number = 1.1
print(number)

10
1.1

In [ ]:
website = "apple.com"
print(website)
print(type(website))

website = 12
print(website)
print(type(website))

apple.com
<class 'str'>
12
<class 'int'>

In [ ]:
a,b,c= 5,3,2.2
print(a)
print(b)
print(c)

5
3
2.2

In [ ]:
a=5
b=3
c= 2.2
print(a)
print(b)
print(c)

5
3
2.2

In [ ]:
x,y,z= 3,5,3
print(x)
print(y)
print(z)

(3, 5, 3)
5
3

In [ ]:
type(x)

tuple

In [ ]:
x=y=z= 3
print(x)
print(y)
print(z)

3
3
3

## defining variable name

In [ ]:
First_Name="Aizan"
print(First_Name)


Nam@e="Aizan"
print(Name)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-10-72c9b57c00a7>, line 5)

## string operation

In [ ]:
Name = "Michael Jackson"

In [ ]:
print(Name)
print(type(Name))

Michael Jackson
<class 'str'>

In [ ]:
print(Name[0])

print(Name[5])

print(Name[10])

print(Name[13])

M
e
c
o

In [ ]:
print(Name[14])
print(Name[15])

n

IndexError: ignored

In [ ]:
print(Name[-1])
print(Name[-15])
print(Name[-5])
print(Name[-10])

n
M
c
e

In [ ]:
print(Name[-16])

IndexError: ignored

In [ ]:
print(Name[0:4])

Mich

In [ ]:
print(Name[7:12])

 Jack

In [ ]:
print(Name[-7:-1])

Jackso

In [ ]:
print(Name)

Aizan Zafar

In [ ]:
Name ="Aizan Zafar"

In [ ]:
print(len(Name))
print(len("aizan zafar"))

11
11

In [ ]:
Name[0]

'A'

In [ ]:
Name[0]='B'

TypeError: ignored

In [ ]:
Name[::2]

'AznZfr'

In [ ]:
Name[::3]

'AaZa'

In [ ]:
Name[0:5:2]

'Azn'

In [ ]:
print(Name)
print(len(Name))
l= len(Name)
print(l)
Name[l-2]

Aizan Zafar
11
11

'a'

In [ ]:
len("Michael Jackson")

15

In [ ]:
First_Name ="Aizan"
Last_Name = "Zafar"

In [ ]:
statement = First_Name +" "+ Last_Name + " is a PhD Scholar"
print(statement)

Aizan Zafar is a PhD Scholar

In [ ]:
print('1'+'2')

12

In [ ]:
out=3*" Im The Best"
print(len(out))

print(out[0:12:2])

36
 mTeBs

In [ ]:
multi_string = """this is
multi string
example """

print(multi_string)
len(multi_string)

this is
multi string
example

31

In [ ]:
multi_string = "this is multi string  example"

print(multi_string)
len(multi_string)

this is multi string  example

29

In [ ]:
multi_string_2 = "this is\n multi string \texample \\ 2"
print(multi_string_2)
len(multi_string_2)

this is
 multi string 	example \ 2

34

In [ ]:
print("Michael \\ Jackson")
print(r"Michael \ Jackson")

Michael \ Jackson
Michael \ Jackson

In [ ]:
print(multi_string.upper())

THIS IS
MULTI STRING
EXAMPLE

In [ ]:
A ="This IS a String"
print("A = ",A)
B = A.upper()
print("In Upper Case: ",B)

C = A.lower()
print("In Lower Case: ",C)

A =  This IS a String
In Upper Case:  THIS IS A STRING
In Lower Case:  this is a string

In [ ]:
A = A.replace("This","That")

In [ ]:
print(A)

That IS a String

In [ ]:
len(A)

16

In [ ]:
A.find("IS")

5

In [ ]:
D= " This Is a bad also This Is a Good Way"
D.find("Is")

6

In [ ]:
print(D[6:8])

Is

In [ ]:
# Question: Use slicing to find the first four elements of the following string:
Letters="ABCDEFGHIJK"
Letters[0:4]

'ABCD'

##list

In [ ]:
# Question: Use a stride value of two on the following string :
Good="GsoAo+d"
Good[::2]

'Good'

In [ ]:
len(['aizan','aa','1200'])

3

## tuple

In [ ]:
tuple1 = ("disco",12,4.5)

In [ ]:
print(tuple1)

('disco', 12, 4.5)

In [ ]:
print(tuple1[-1])
print(tuple1[-2])
print(tuple1[2])

4.5
12
4.5

In [ ]:
len(tuple1)

3

In [ ]:
tuple1[3]

IndexError: ignored

In [ ]:
type(tuple1)

tuple

In [ ]:
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
len(tuple1)

3

In [ ]:
tuple2 = tuple1 + ("hard rock",10)

In [ ]:
print(tuple2)

("disco's", 12, 4.5, 'hard rock', 10)

In [ ]:
len(tuple2)

5

In [ ]:
print(tuple2[3])

hard rock

In [ ]:
print(tuple2[-2])

hard rock

In [ ]:
tuple1=('disco',12,4.5)
tuple2=('rock',10)

new_tuple= tuple1 + tuple2
print(new_tuple)
print(len(new_tuple))

('disco', 12, 4.5, 'rock', 10)
5

In [ ]:
print(tuple1)
print(tuple2)
print(new_tuple)

('disco', 12, 4.5)
('rock', 10)
('disco', 12, 4.5, 'rock', 10)

In [ ]:
new_tuple[3:5]

('rock', 10)

In [ ]:
Ratings = (10,9,6,5,10,5,4)

In [ ]:
Ratings[3]

5

In [ ]:
Ratings[3] =6

TypeError: ignored

In [ ]:
Ratings= (10, 9, 6, 5, 10, 5, 4)
SortedRating= sorted(Ratings)

In [ ]:
print(Ratings)
print(type(Ratings))
print(SortedRating)
print(type(SortedRating))

(10, 9, 6, 5, 10, 5, 4)
<class 'tuple'>
[4, 5, 5, 6, 9, 10, 10]
<class 'list'>

## tuple nesting

In [ ]:
NT = (1, 2,  ('pop', 'rock'), (3, 4), ('disco', (1, 22) ) )

In [ ]:
len(NT)

5

In [ ]:
print(NT[0])
print(NT[1])
print(NT[2])
print(NT[3])
print(NT[4])

1
2
('pop', 'rock')
(3, 4)
('disco', (1, 22))

In [ ]:
print(type(NT[0]))
print(type(NT[1]))
print(type(NT[2]))
print(type(NT[3]))
print(type(NT[4]))

<class 'int'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
print(NT[2][0])
print(type(NT[2][0]))
print(NT[2][0][2])

pop
<class 'str'>
p

In [ ]:
NT[4][1][1]

22

## list

In [ ]:
L = ['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [ ]:
print(len(L))
print(type(L))
print(L[3:5])

5
<class 'list'>
['MJ', 1]

In [ ]:
print(L[2])
print(L[2:])
print(L[:3])

print(L[-1])
print(L[:-3])

1982
[1982, 'MJ', 1]
['Michael Jackson', 10.1, 1982]
1
['Michael Jackson', 10.1]

In [ ]:
L1 = L + ["pop",10]
print(len(L1))
print(type(L1))
print(L1)

7
<class 'list'>
['Michael Jackson', 10.1, 1982, 'MJ', 1, 'pop', 10]

In [ ]:
L1[5] ='rock'
print(L1)

['Michael Jackson', 10.1, 1982, 'MJ', 1, 'rock', 10]

In [ ]:
L1[5]

'rock'

In [ ]:
L = ['Michael Jackson', 10.1, 1982]
L.extend(["pop",10])
print(len(L))
print(L)
print(L[3])

5
['Michael Jackson', 10.1, 1982, 'pop', 10]
pop

In [ ]:
L = ['Michael Jackson', 10.1, 1982]
L.append(["pop",10])
print(len(L))
print(L)
print(L[3])
print(L[3][0])
print(L[3][0][1])

4
['Michael Jackson', 10.1, 1982, ['pop', 10]]
['pop', 10]
pop
o

In [ ]:
L.index(1982)

2

In [ ]:
del(L[2])
print(L)

['Michael Jackson', 10.1, 'pop', 10]

In [ ]:
print("AkraMa".upper())
print("AkraMa".lower())

AKRAMA
akrama

In [ ]:
"hard rock".split()

['hard', 'rock']

In [ ]:
Name="hard rock"
Name.split()

['hard', 'rock']

In [ ]:
s="Doctor: how i can help you"
new_list= s.split(':')[1]

print(type(new_list))
print(new_list)

<class 'str'>
 how i can help you

In [ ]:
l=new_list.split()
l

['how', 'i', 'can', 'help', 'you']

In [ ]:
"A,B,C,D".split(',')

['A', 'B', 'C', 'D']

In [ ]:
Name = "Ram is a good person"
print(type(Name))
print(len(Name))
print(Name)

<class 'str'>
20
Ram is a good person

In [ ]:
Name_List = Name.lower().split()
print(Name_List)
print(Name_List.index('person'))

['akrama', 'islam', 'is', 'a', 'good', 'person']
5

In [ ]:
Name_List[5]

'person'

In [ ]:
A =['hard rock', 10, 4.5]
B = A

In [ ]:
print(A)
print(B)

['hard rock', 10, 4.5]
['hard rock', 10, 4.5]

In [ ]:
B[0] ='Banana'

In [ ]:
print(A)
print(B)

['Banana', 10, 4.5]
['Banana', 10, 4.5]

In [ ]:
A =['hard rock', 10, 4.5]
B = A[:]

In [ ]:
print(A)
print(B)

['hard rock', 10, 4.5]
['hard rock', 10, 4.5]

In [ ]:
B[0] ='Banana'

In [ ]:
print(A)
print(B)

['hard rock', 10, 4.5]
['Banana', 10, 4.5]

In [ ]:
A=[1,2]
B=[3,4]
c=A+B
A.append(B)
print(A)
print(B)
print(c)
print(type(c))

[1, 2, [3, 4]]
[3, 4]
[1, 2, 3, 4]
<class 'list'>
[1, 2, [3, 4]]

In [ ]:
a = {5,2,3,1,4}
print(a)
print(type(a))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
a[0]

TypeError: ignored

## set

In [ ]:
set1 = {'A','B','C','A','B','C'}
print(set1)

{'A', 'B', 'C'}

In [3]:
list1= ['A','B','C','A','B','C']
print(list1)
print(type(list1))

set_1= set(list1)
print(set_1)
print(type(set_1))

['A', 'B', 'C', 'A', 'B', 'C']
<class 'list'>
{'C', 'A', 'B'}
<class 'set'>

In [ ]:
album_list =['Michael Jackson', 'Thriller', 'Thriller', 1982 ]
album_set =set(album_list)
print(album_set)

{'Thriller', 1982, 'Michael Jackson'}

In [ ]:
A = { 'Thriller', 'Back in Black', 'AC/DC' }
B = {'Aizan',1994}

In [ ]:
#A.add(B) # gives error
A.add('Aizan')
print(A)

{'Thriller', 'Back in Black', 'AC/DC', 'Aizan'}

In [ ]:
A.add('NY')
print(A)

{'Thriller', 'NY', 'Aizan', 'AC/DC', 'Back in Black'}

In [ ]:
len(A)

4

In [ ]:
print(A)
print('NY' in A)
A.remove('NY')
print(A)

print('NY' in A)

{'Thriller', 'NY', 'Aizan', 'AC/DC', 'Back in Black'}
True
{'Thriller', 'Aizan', 'AC/DC', 'Back in Black'}
False

['A', 'C', 'A', 'B', 'C']

## set operation

In [ ]:
album_set_1 =  { 'Thriller', 'Back in Black', 'AC/DC' }
album_set_2 =  { 'Dark side of Moon', 'Back in Black', 'AC/DC', 1982 }
album_set_4 = {'aizan', 'zafar', 1982}

In [ ]:
album_set_3 = album_set_1 & album_set_2
print(album_set_3)

{'Back in Black', 'AC/DC'}

In [ ]:
album_set_3 = album_set_1.intersection(album_set_2)
print(album_set_3)

{'Back in Black', 'AC/DC'}

In [ ]:
set_4 = album_set_1 & album_set_2 & album_set_3 & album_set_4
print(set_4)

set()

In [ ]:
print(album_set_1)
album_set_5 = album_set_1.union(album_set_2)
print(album_set_5)
print(album_set_1)

{'Thriller', 'Back in Black', 'AC/DC'}
{'Thriller', 'Dark side of Moon', 'Back in Black', 'AC/DC', 1982}
{'Thriller', 'Back in Black', 'AC/DC'}

In [ ]:
album_set_1 =  { 'Thriller', 'Back in Black', 'AC/DC' }
album_set_3 =  {  'Back in Black', 'AC/DC',1982 }
album_set_3.issubset(album_set_1)

False

## dictionary

In [ ]:
# key : value
dict_1 = {1:'one', 2:'two'}

print(dict_1)
print(type(dict_1))

{1: 'one', 2: 'two'}
<class 'dict'>

In [ ]:
list_1 =[1,2,3]
# 0,1,2

print(list_1)
print(type(list_1))

[1, 2, 3]
<class 'list'>

In [ ]:
list_1[0]

1

In [ ]:
dict_2 = {'key1':1, 'key2':'2', 'key3':[3,3,3], 'key4':(4,4,4), 'key5':5 }
print(dict_2)
print(type(dict_2))

{'key1': 1, 'key2': '2', 'key3': [3, 3, 3], 'key4': (4, 4, 4), 'key5': 5}
<class 'dict'>

In [ ]:
print(type(dict_2['key2']))

<class 'float'>

In [ ]:
dict_2['key6']=4.5
print(dict_2)

{'key1': 1, 'key2': '2', 'key3': [3, 3, 3], 'key4': (4, 4, 4), 'key5': 5, 'key6': 4.5}

In [ ]:
dict_2['key1'] =12
print(dict_2)

{'key1': 12, 'key2': '2', 'key3': [3, 3, 3], 'key4': (4, 4, 4), 'key5': 5, 'key6': 4.5}

In [ ]:
my_dict = {}
print(my_dict)

{}

In [ ]:
my_dict = {1: 'apple', 2: 'ball'}
print(my_dict)

{1: 'apple', 2: 'ball'}

In [ ]:
my_dict[2]

'ball'

In [ ]:
my_dict['name']='john wick'
my_dict[1] =[2, 4, 3]

print(my_dict)

{1: [2, 4, 3], 2: 'ball', 'name': 'john wick'}

In [ ]:
# method 1
my_dict_1 = {}  # empty dict
my_dict_2 = dict() # empty dict

print(my_dict_1)
print(my_dict_2)

print(type(my_dict_1))
print(type(my_dict_2))

{}
{}
<class 'dict'>
<class 'dict'>

In [ ]:
my_dict_1[1]='one'
my_dict_1[2]='one'
my_dict_1[3]='one'

my_dict_2['one']=1
my_dict_2['two']=1
my_dict_2['three']=3

print(my_dict_1)
print(my_dict_2)

{1: 'one', 2: 'one', 3: 'one'}
{'one': 1, 'two': 1, 'three': 3}

In [ ]:
my_dict_2['three']=[3,3,'aizan',4.5]
print(my_dict_2)

{'one': 1, 'two': 1, 'three': [3, 3, 'aizan', 4.5]}

In [ ]:
# method 1
print(my_dict_2['three'])

# method 2
print(my_dict_2.get('three'))

[3, 3, 'aizan', 4.5]
[3, 3, 'aizan', 4.5]

In [ ]:
# method 1
print(my_dict_2[4])

KeyError: ignored

In [ ]:
print(my_dict_2)

{'one': 1, 'two': 1, 'three': [3, 3, 'aizan', 4.5]}

In [ ]:
# method 2
print(my_dict_2.get(4))

None

In [ ]:
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
print(type(squares))
print(squares)

<class 'dict'>
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
squares.pop(4)

16

In [ ]:
print(squares)

{1: 1, 2: 4, 3: 9, 5: 25}

In [ ]:
squares.popitem()
print(squares)

{1: 1, 2: 4, 3: 9}

In [ ]:
squares.clear()
print(squares)

{}

In [ ]:
print(squares)
del(squares)
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

NameError: ignored

In [ ]:
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [ ]:
print(2 not in squares)

True

In [ ]:
print(squares)
print(len(squares))
print(squares.keys())
print(type(squares.keys()))

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
5
dict_keys([1, 3, 5, 7, 9])
<class 'dict_keys'>

In [ ]:
key_list = list(squares.keys())
print(key_list)
print(type(key_list))

[1, 3, 5, 7, 9]
<class 'list'>

In [ ]:
key_set = set(squares.keys())
print(key_set)
print(type(key_set))

{1, 3, 5, 7, 9}
<class 'set'>

In [ ]:
squares[11]= 81
print(squares)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81, 11: 81}

In [ ]:
print(squares.values())
print(type(squares.values()))

dict_values([1, 9, 25, 49, 81, 81])
<class 'dict_values'>

In [ ]:
value_list = list(squares.values())
print(value_list)
print(type(value_list))

[1, 9, 25, 49, 81, 81]
<class 'list'>

In [ ]:
value_set = set(squares.values())
print(value_set)
print(type(value_set))

{1, 9, 81, 49, 25}
<class 'set'>

In [ ]:
squares.items()

dict_items([(1, 1), (3, 9), (5, 25), (7, 49), (9, 81), (11, 81)])

In [ ]:
print(squares.get(4))

None

In [ ]:
relationship =['T151', 'T147', 'T186'] #affects, causes, isa

'T151' in relationship

True

In [ ]:

num = 3
if num > 0:
    print(num, "is a positive number.")
    print("hello")
    print("working on if case")
print("This is always printed.")

num = 4
if num > 0:
    print(num, "is a positive number.")
    print("hello")
    print("working on if case")
print("This is also always printed.")

3 is a positive number.
hello
working on if case
This is always printed.
4 is a positive number.
hello
working on if case
This is also always printed.

In [ ]:
num = 5
# Try these two variations as well. num = -5 & num = 0
if num >= 0:
    print("Positive or Zero")
else:
    print("Negative number")
print("hello")

Positive or Zero
hello

In [ ]:
num = -3.4
# Try these two variations as well: num = 0 & num = -4.5
if num > 0:
  print("Positive number")
elif num == 0:
  print("Zero")
else:
  print("Negative number")

Negative number

In [ ]:
num = float(input("Enter a number: "))
print(type(num))
print("you have enteered: ", num)

Enter a number: aizan

ValueError: ignored

In [ ]:
num = float(input("Enter a number: "))
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Enter a number: -7568
Negative number

In [ ]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]
# variable to store the sum
sum = 0
# iterate over the list
for value in numbers:
    print(value)
    sum = sum+value
print("The sum is", sum)

6
5
3
8
4
2
5
4
11
The sum is 48

In [ ]:
print(range(10))
print(type(range(10)))
print(list(range(10)))
print(type(list(range(10))))
print(list(range(2, 8)))
print(list(range(2, 20, 3)))

range(0, 10)
<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>
[2, 3, 4, 5, 6, 7]
[2, 5, 8, 11, 14, 17]

In [ ]:
for num in range(11):
    print(num)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# writer a code to find evern number from 0-20
for num in list(range(21)):
    if num >= 10 and num % 2==1:
        print(num," it is an odd number")

11  it is an odd number
13  it is an odd number
15  it is an odd number
17  it is an odd number
19  it is an odd number

In [ ]:
genre = ['pop', 'rock', 'jazz']
# iterate over the list using index
for i in range(len(genre)):
    if i%2==0:  # mod %
        print("I like", genre[i])

for element in genre:
    print(element)

I like pop
I like jazz
pop
rock
jazz

In [ ]:
# program to display student's marks from record
student_name = 'Arthur'
marks = {'James': 90, 'Jules': 55, 'Arthur': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break

77

In [ ]:
'AB' > 'BA'

False

In [ ]:
A=[3,4,5]
for a in A:
    print(a)

3
4
5

In [4]:
name_list =['aizan','zafar','aatif','abid','akrama','rahman','tabish','asif']
for name in name_list:
    if name[0] =='a' or len(name)>=5:
        print(name)

aizan
zafar
aatif
abid
akrama
rahman
tabish
asif

In [5]:
name_list =['aizan','zafar','aatif','abid','akrama','rahman','tabish','asif','danish']
while(1): # 1,2,3,4  True  None or 0 False
  for name in name_list:
      if name[0] =='a' or len(name)>=5:
          print(name)
          break
  break

aizan

In [6]:
# Program to add natural,  sum = 1+2+3+...+n
n = int(input("Enter the number"))
# initialize sum and counter
sum = 0
i = 1
while i <= n:
    sum = sum + i
    i = i+1    # update counter
# print the sum
print("The sum is", sum)

Enter the number5
The sum is 15

In [ ]:
n = int(input("enter karo number"))

sum =0
for num in range(n+1):
  sum =sum + num
  #print("inner sum: ", sum)
print(sum)

enter karo number5
15

In [ ]:
counter = 0
while counter < 3:
    print("Inside loop")
    counter = counter + 1
else:
    print("Inside else")
print("This is always printed")

Inside loop
Inside loop
Inside loop
Inside else
This is always printed

In [ ]:
s t r i n g
0 1 2 3 4 5

In [7]:
for val in "string":
    print("val= ",val)
    if val == "i":
        #break
        print("Inside loop")
        continue
    else:
        print(val)
print("The end")
print("outside the loop")

val=  s
s
val=  t
t
val=  r
r
val=  i
Inside loop
val=  n
n
val=  g
g
The end
outside the loop

In [ ]:
x=3
y=1
while(y!= x):
  print(y)
  y=y+1
print("final y=", y)

1
2
final y= 3

In [ ]:
'''pass is just a placeholder for
functionality to be added later.'''
sequence = {'p', 'a', 's', 's'}
for val in sequence:
    #print(val)
    pass

In [ ]:
name_list =['aizan','zafar','aatif','abid','akrama','rahman','tabish','asif','danish']

for name in name_list:
  #print(name[-1])
  #print(type(name))
  index_number = len(name) -1
#  print()
  print(name[index_number])

n
r
f
d
a
n
h
f
h

In [ ]:
print("Aizan Zafar".lower())

aizan zafar

In [ ]:
#The lowest grade of 37.2 belongs to Tina.
#The second lowest grade of 37.21 belongs to both Harry and Berry,
#so we order their names alphabetically and print each name on a new line.

In [ ]:
record = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]
lowest=-99
for val in record:
  if val[1]

37.21
37.21
37.2
41
39

In [8]:
#second_highest = sorted(list(set([marks for name, marks in record])))[1]
#print(second_highest)
#print('\n'.join([a for a,b in sorted(marksheet) if b == second_highest]))
second_highest=[]
for name, mark in record:
  second_highest.append(mark)
second_highest= sorted(second_highest)
second_highest= second_highest[1]

print(second_highest)
for a,b in sorted(record):
  if b== second_highest:
    print(a)

NameError: name 'record' is not defined

In [ ]:
student_marks={'Anurag':[26,28,30],'Harsh':[25,26.5,28]}
type(student_marks["Anurag"])

list

In [ ]:
Ptotal_marks=0
for mark in student_marks["Anurag"]:
  total_marks=total_marks+mark
print("{:.2f}".format(total_marks/ len(student_marks["Anurag"])))

28.00

In [ ]:
"{:.2f}".format(float)

In [9]:
name="aizan zafar"
for x in name.split():
  name = name.replace(x, x.capitalize())
print(name)

Aizan Zafar

You are given a string and your task is to swap cases. In other words, convert all lowercase letters to uppercase letters and vice versa.

In [ ]:
# solution 1
def swap_case(s):
    result = ""
    for letter in s:
        if letter == letter.upper():
            result += letter.lower()
        else:
            result += letter.upper()
    return result

# solution 2 use s.swapcase() inbuit function

In [ ]:
s=""
s= s+'a'
s= s+'b'
s= s+'c'
print(s)

abc

In [ ]:
swap_case("AizAn ZaFar")

'aIZaN zAfAR'

In [ ]:
string="abcdcdcecde"
sub_string="cdc"
# output = 2
string_1="aizan zafar and akran"
sub_string_1="an"
#output = 3

2

In [ ]:
count=0
for i in range(0, len(string)):
  match=False
  #print (string[i])


        match=True
        i=i+1
      else:
        match=False
        break
    if match==True:
      count=count+1
print(count)

2

In [10]:
def count_substring(string,sub_string):
    count = 0
    for i in range(len(string)):
        if string[i:].startswith(sub_string):
            count += 1
    return count

In [ ]:
count_substring(aa, sub_string)

2

text wrap
input:
ABCDEFGHIJKLIMNOQRSTUVWXYZ
4
output:
ABCD
EFGH
IJKL
IMNO
QRST
UVWX
YZ

In [11]:
    # solution 1
    s = ""
    for c in range(0,len(string),max_width):
        s += string[c:c+max_width] + "\n"
    return s
    # sulution_2
    #return "\n".join(textwrap.wrap(string, max_width))

NameError: name 'string' is not defined

In [12]:
string="aizan zafar is not good teacher"
max_width=4

In [ ]:
for c in (range(0,len(string),max_width)):
  print("start_index:", c, "end_index:", c+max_width)
  print(string[c:c+max_width])

start_index: 0 end_index: 4
aiza
start_index: 4 end_index: 8
n za
start_index: 8 end_index: 12
far
start_index: 12 end_index: 16
is n
start_index: 16 end_index: 20
ot g
start_index: 20 end_index: 24
ood
start_index: 24 end_index: 28
teac
start_index: 28 end_index: 32
her

In [ ]:
import textwrap
print((textwrap.wrap(string, max_width)))

['aiza', 'n za', 'far', 'is', 'not', 'good', 'teac', 'her']

In [ ]:
string="AizAn"
print(string.upper())
print(string.lower())

output="aIZaN"
# swap case capital to small  and small to capital

AIZAN
aizan

In [ ]:
print("Input: ",string)
s =""
for letter in string:
  if letter == letter.upper():
    s= s+letter.lower()
  else:
    s= s+letter.upper()

print("output: ",s)

Input:  AizAn
output:  aIZaN

In [ ]:
"AkRaMA IsLam".swapcase()

'aKrAma iSlAM'

In [ ]:
def greet(name,
          a,
          s):
    """
    This function greets to the person passed in as a parameter
    input: str
    """
    print("Hello, " + str(name) + ". Good morning!")
    2

    3
    4
    5

67
    3

In [ ]:
greet(5,6,7)

Hello, 5. Good morning!

In [ ]:
print(greet.__doc__)

    This function greets to the person passed in as a parameter
    input: str

In [ ]:
def sum_of_two(num_1,num_2):
  """
  input: integer, integer
  output: integer: which is sum of two number
  """
  sum= num_1+ num_2
  #print(sum)
  return sum


greet("akrama")
result = sum_of_two(5,7)
print(result)
result = sum_of_two(result,8)
print(result)

TypeError: greet() missing 2 required positional arguments: 'a' and 's'

In [ ]:
print(greet.__doc__)
print(sum_of_two.__doc__)

    This function greets to the person passed in as a parameter
    input: str



  input: integer, integer
  output: integer: which is sum of two number

In [ ]:
def difference_of_two(num_1,num_2):
  difference= num_1 - num_2
  #print(difference)
  return difference

In [ ]:
result = sum_of_two(5,7)
print(sum)
print(result)

12
<built-in function sum>
None

In [ ]:
def absolute_value(num):
    """This function returns the absolute
    value of the entered number"""
    if num >= 0:
        return num
    else:
        return -num

print(absolute_value(2))
print(absolute_value(-4))

2
4

In [ ]:
num = int(input())
result = absolute_value(num)
print("absulute value: ",result)

-789
absulute value:  789

In [ ]:
def my_func():
	x = 10 # local variable
	print("Value inside function:",x)

x = 20 #global variation
my_func()
print("Value outside function:",x)

Value inside function: 10
Value outside function: 20

In [ ]:
print("AizaN".swapcase())

aIZAn

In [ ]:
def greet(name, msg="Good Morning"):
    """This function greets to
    the person with the provided message"""
    print("Hello", name + ', ' + msg)

greet("Monica", "Good morning!")
greet("Akrama", "Ready for race")
greet("abid")

Hello Monica, Good morning!
Hello Akrama, Ready for race
Hello abid, Good Morning

In [ ]:
def greet(*names,msg="Good Morning"):
    """This function greets all the person in the names tuple."""
    # names is a tuple with arguments
    for name in names:
        print("Hello", name,", ", msg)

greet("Monica", "Luke", "Steve", "John")

Hello Monica ,  Good Morning
Hello Luke ,  Good Morning
Hello Steve ,  Good Morning
Hello John ,  Good Morning

In [ ]:
def sum_of_num(*num):
    """This function greets all the person in the names tuple."""
    # names is a tuple with arguments
    sum =0
    for number in num:
        sum = sum+ number
    #print("sum=",sum)
    return sum

result = sum_of_num(10,10,10,10,10,1)
print(result)

51

In [ ]:
def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""
    if x == 1:
        print("im base case")
        return 1
    else:
        print("x =", x)
        return (x * factorial(x-1))

num = 3
print("The factorial of", num, "is", factorial(num))

x = 3
x = 2
im base case
The factorial of 3 is 6

In [ ]:
#sum of first n number

def sum_of_n_natural(num):
  if num == 1:
    return 1
  else:
    return num+sum_of_n_natural(num-1)

num = 5
print("sum of natural number:", sum_of_n_natural(num))

sum of natural number: 15

5*4*3*2*1

5! = 5*4!
4! = 4*3!
3! = 3* 2!
2! = 2*1!
1! = 1


fac(x)
x =5
5*fact(x-1) # x-1 =4
5* fact(4)
5*4* fact(3)
5*4*3*fact(2)

In [ ]:
def double (num):
  return num*2

double(25)

50

In [ ]:
list_num=[10,20,30,40]

for num in list_num:
  print(double(num))

20
40
60
80

In [ ]:
double = lambda x: x * 2
print(double(5))

10

In [ ]:
def check_even(num):
  if num%2 ==0:
    return True

my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list=[]
for num in my_list:
  if check_even(num) == True:
    new_list.append(num)

print(new_list)

[4, 6, 8, 12]

In [13]:
# Program to filter out only the even items from a list
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list(filter(lambda x: (x%2 == 0) , my_list))
print(new_list)

[4, 6, 8, 12]

In [14]:
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

#resDict=dict()
#resDict={}
#for name in employees:
#  resDict[name]= defaults


resDict = dict.fromkeys(employees, defaults)
print(resDict)

# Individual data
print(resDict["Kelly"])

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}
{'designation': 'Application Developer', 'salary': 8000}

In [ ]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york" }
#Keys to Extract
keys = ["name", "salary",'address']

#newDict = {k: sampleDict[k] for k in keys}
newDict={}
for k in keys:
  if k in sampleDict:
    newDict[k] = sampleDict[k]
print(newDict)

{'name': 'Kelly', 'salary': 8000}

In [ ]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

#print(sampleDict.pop('city'))

sampleDict['location'] = sampleDict.pop('city')
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [ ]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

marks= min(sampleDict.values())
print((marks))

print(max(sampleDict, key=sampleDict.get))

65
Physics

In [ ]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

sampleDict['emp2']['salary'] = 8500
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8500}, 'emp3': {'name': 'Brad', 'salary': 6500}}

In [ ]:
sent= ["this is not a good example it is bad"]
new_list=[]
for k in sent:
  new_list=k.split()

print(new_list)
new_dict={}
count=0

for k in new_list:
  if k in new_dict.keys():
    print("true")
  else:
    new_dict[k] = count
  count= count+1

print(new_dict)

['this', 'is', 'not', 'a', 'good', 'example', 'it', 'is', 'bad']
true
{'this': 0, 'is': 1, 'not': 2, 'a': 3, 'good': 4, 'example': 5, 'it': 6, 'bad': 8}

In [15]:
name="aizan"
dict_out= {'a':0, 'i':1, 'z':2, 'n':3}

In [ ]:
sent=["this is very very very bad this is not so good"]

dict_out{'this':2, 'is':2, 'very':3, 'bad':1, 'not':1, 'so':1, 'good':1}

In [ ]:
def array(sums):
  max_len=len(sums)
  for n in range(len(sums)):
    if n == max_len-1:
      print(sums[n])
    else:
      print(sums[n], end=',')

sums=[6,11,7,-3]
array(sums)

6,11,7,-3

In [ ]:
class parrot:
  pass

In [ ]:
tota = parrot()
print(tota)

<__main__.parrot object at 0x7f4bd16c3650>

In [ ]:
class parrot:
  # class attribute
  species= "bird"
  fly ="yes"

  # object attribute
  def __init__(self, name, age):
    self.name = name
    self.age = age

In [ ]:
tota = parrot()
print(tota)

TypeError: ignored

In [ ]:
tota = parrot("blu", 15)
print(tota)

print("Blu is a ",tota.__class__.species)
print("Blu can fly ",tota.__class__.fly)
print(tota.name," is ",tota.age, " year old")

print("{} is {} year old".format(tota.name, tota.age))

<__main__.parrot object at 0x7f4bd7348590>
Blu is a  bird
Blu can fly  yes
blu  is  15  year old

IndexError: ignored

In [ ]:
toti = parrot("woo", 10)

# woo is a bird whose age is 10   {object.name} is a {class attribute} whose age is {object.age}
print("{} is a {} whose age is {}".format(toti.name, toti.__class__.species, toti.age))

woo is a bird whose age is 10

In [ ]:
class parrot:
  # object instance
  def __init__(self, name, age):
    self.name =name
    self.age =age
  # instance methods with one variable
  def sing(self, song="happy"):
    return "{} sings {}".format(self.name, song)

  #instance method without any variable
  def dance(self):
    return "{} is now dancing whose age is {}".format(self.name, self.age)

In [ ]:
# object instance creation
tota = parrot("blu", 15)

# call our instance method

print(tota.sing("happy kitty sad kity"))
print(tota.dance())

blu sings happy kitty sad kity
blu is now dancing whose age is 15

In [ ]:
class bird:
  def __init__(self):
    print("Bird is ready")

  def WhoIsThis(self):
    print("Bird")

  def swin(self):
    print("Swim Faster")

In [ ]:
class penguin(bird):
  def __init__(self):
    super().__init__() #super allow to run init function of parent class

    print("penguin is ready")
  def WhoIsThis(self):
    print("Penguin")

  def run(self):
    print("run faster")

In [ ]:
peggy = penguin()

Bird is ready
penguin is ready

In [ ]:
peggy.WhoIsThis()

Penguin

In [ ]:
peggy.swin()

Swim Faster

In [ ]:
peggy.run()

run faster

In [ ]:
class person:
  """ this is a person class """
  age =10
  def greet (self):
    print("hello there")

In [ ]:
person.age

10

In [ ]:
print(person.greet)

<function person.greet at 0x7f0e11b5fd40>

In [ ]:
person.__doc__

' this is a person class '

In [ ]:
class Person:
  "This is a person class"
  age = 10
  def greet(self):
    print('Hello')

# create a new object of Person class
harry = Person()

In [ ]:
# Output: <function Person.greet>
print(Person.greet) # class.method

<function Person.greet at 0x7f0e11b67b90>

In [ ]:
# Output: <bound method Person.greet of <__main__.Person object>>
print(harry.greet) #object.method

<bound method Person.greet of <__main__.Person object at 0x7f0e11b6e290>>

In [ ]:
# Calling object's greet() method
# Output: Hello
harry.greet()

Hello

In [ ]:
class ComplexNumber:
  def __init__(self, r=0,i=0):
    self.real = r
    self.imaginary = i

  def get_data(self):
    print(self.real, "+", self.imaginary,"i")

In [ ]:
num = ComplexNumber(2,3) # object create
num.get_data() # calling the method

2 + 3 i

In [ ]:
num1 = ComplexNumber(5)
num1.get_data()

5 + 0 i

In [ ]:
print(num1.real)
print(num1.imaginary)

5
0

In [ ]:
num1.attr =10

In [ ]:
print(num1.real, num1.imaginary, num1.attr)

5 0 10

In [ ]:
print(num.real)
print(num.imaginary)

2
3

In [ ]:
print(num.attr)

AttributeError: ignored

In [ ]:
# num1 has 3 attribute real,imaginary,attr
del num1
print(num1.real)

NameError: ignored

In [ ]:
class polygon:
  def __init__(self, no_of_sides):
    self.n = no_of_sides
    self.sides = [0 for i in range(no_of_sides)]

  def inputSides(self):
    self.sides = [float(input("Enter side" + str(i+1)+":")) for i in range (self.n)]

  def dispSides(self):
    for i in range(self.n):
      print("SIde", i+1, "is", self.sides[i])

In [ ]:
class triangle(polygon):
  def __init__(self):
    polygon.__init__(self,3)

  def findArea(self):
    a,b,c = self.sides
    # calculate the semi perimeter
    s=(a+b+c)/2
    area = (s*(s-a)*(s-b)*(s-c))**0.5
    print("Area of triangle is %0.2f" %area)

In [ ]:
t = triangle(5)

In [ ]:
t.inputSides()

Enter side1:5
Enter side2:4
Enter side3:9
Enter side4:7
Enter side5:8

In [ ]:
t.dispSides()

SIde 1 is 5.0
SIde 2 is 4.0
SIde 3 is 9.0
SIde 4 is 7.0
SIde 5 is 8.0

In [ ]:
t.findArea()

ValueError: ignored

In [ ]:
import pickle

In [ ]:
f = open('160_last_topic2num.pk','rb')

In [ ]:
topic2num = pickle.load(f)

In [ ]:
type(topic2num)

dict

In [ ]:
topic2num

{'B': 86,
 'CT': 82,
 '': 125,
 '': 21,
 '': 127,
 '': 104,
 '': 132,
 '': 74,
 '': 64,
 '': 94,
 '': 1,
 '': 53,
 '': 130,
 '': 99,
 '': 151,
 '': 121,
 '': 38,
 '': 43,
 '': 22,
 '': 135,
 '': 157,
 '': 72,
 '': 19,
 '': 13,
 '': 66,
 '': 92,
 '': 34,
 '': 61,
 '': 31,
 '': 71,
 '': 73,
 '': 114,
 '': 111,
 '': 23,
 '': 153,
 '': 108,
 '': 110,
 '': 138,
 '': 17,
 '': 57,
 '': 150,
 '': 68,
 '': 95,
 '': 89,
 '': 58,
 '': 81,
 '': 28,
 '': 154,
 '': 98,
 '': 128,
 '': 131,
 '': 117,
 '': 124,
 '': 36,
 '': 118,
 '': 115,
 '': 76,
 '': 47,
 '': 3,
 '': 39,
 '': 141,
 '': 12,
 '': 113,
 '': 158,
 '': 77,
 '': 147,
 '': 45,
 '': 35,
 '': 136,
 '': 42,
 '': 32,
 '': 112,
 '': 159,
 '': 70,
 '': 122,
 '': 30,
 '': 51,
 '': 16,
 '': 126,
 '': 142,
 '': 49,
 '': 29,
 '': 148,
 '': 102,
 '': 155,
 '': 62,
 '': 15,
 '': 33,
 '': 84,
 '': 67,
 '': 88,
 '': 100,
 '': 41,
 '': 20,
 '': 79,
 '': 10,
 '': 80,
 '': 8,
 '': 50,
 '': 134,
 '': 2,
 '': 145,
 '': 91,
 '': 55,
 '': 11,
 '': 105,
 '': 5,
 '': 0,
 '': 52,
 '': 46,
 '': 37,
 '': 120,
 '': 78,
 '': 85,
 '': 6,
 '': 69,
 '': 9,
 '': 143,
 '': 83,
 '': 25,
 '': 65,
 '': 48,
 '': 63,
 '': 56,
 '': 87,
 '': 97,
 '': 106,
 '': 156,
 '': 18,
 '': 123,
 '': 103,
 '': 26,
 '': 93,
 '': 149,
 '': 75,
 '': 139,
 '': 140,
 '': 101,
 '': 54,
 '': 90,
 '': 144,
 '': 40,
 '': 59,
 '': 119,
 '': 96,
 '': 146,
 '': 7,
 '': 116,
 '': 133,
 '': 129,
 '': 24,
 '': 4,
 '': 60,
 '': 109,
 '': 137,
 '': 107,
 '': 152,
 '': 44,
 '': 27,
 '': 14}